.accordion {
  background: white;
  border: 1px solid #E5E5E5;
  border-radius: 8px;
  &__header {
    letter-spacing: 0.7px;
    padding: 12px 20px;
    display: block;
  }
  &__body {
    padding: 16px 16px 16px 64px;
    @include media-breakpoint-down(sm) {
      padding-left: 16px;
    }
  }
  .collapsed {
    .collapseList__icon {
      transform: rotate(-180deg);
      transition: transform 0.2s;
    }
  }
}