.navbar {
  @include media-breakpoint-down(sm) {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  &-brand {
    background-image: url('../img/logo.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    max-width: 110px;
    width: 100%;
    height: 40px;
    a {
      display: block;
      text-indent: 101%; // 強迫文字縮排至原本的區域外
      overflow: hidden;
      white-space: nowrap;
    }
  }
}